@model IQueryable<DBEntity.user_info_detail>
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int pageNowIndex = ViewBag.PageNowIndex;
    int pageSize = ViewBag.PageSize;
    int pagesCount = ViewBag.PagesCount;
    int pageStartIndex = ViewBag.PageStartIndex;
    int pageEndIndex = ViewBag.PageEndIndex;
}
<div class="u-list">
    <div class="u-act-bar">
        <span class="u-act u-act-create">新建</span>
        <span class="u-act u-act-edit">修改</span>
        <span class="u-act u-act-del">删除</span>
        <span class="u-stat">总共：<strong>@ViewBag.UsersCount</strong> 个用户</span>
        <div class="clear"></div>
    </div>
    <table class="u-tb">
        <thead>
            <tr>
                <th style="width:30px"></th>
                <th style="width:25px"></th>
                <th style="text-align:left; width:155px;">用户名</th>
                <th style=" width:150px;">会议数</th>
                <th style=" width:200px;">等级</th>
                <th style=" text-align:left;width:350px;">邮箱</th>
                <th>创建日期</th>
            </tr>
        </thead>
        <tbody>
        @{
            int tick = 1;
        }
        @foreach(DBEntity.user_info_detail item in Model)
        { 
            <tr itemid="@item.id" id="u-item-@item.id" class="@((!item.ui_status ? "color-shadow" : "") + (tick % 2 == 0 ? "" : " u-tb-tr-odd"))" onclick="userListLineClick(this)">
                <td class="td-check"><input type="checkbox" itemid="@item.id" class="u-item-check" /></td>
                <td class="td-act"><span class="u-act-ava">@(!item.ui_status ? "启用" : "")</span></td>
                <td style="text-align:left;">@item.ui_name</td>
                <td style="text-align:center;">@item.ui_meeting_count</td>
                <td style="text-align:center;">@item.ui_grade_name</td>
                <td style="text-align:left;">@item.ui_email</td>
                <td style="text-align:center;">@item.ui_create_time.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            tick++;
        }
        </tbody>
    </table>
</div>
<div class="page_list">
    <ul class="pg_ul">
        @if(pageNowIndex > 1)
        {
            if(pagesCount > 9)
            {
            <li class="f">@Html.ActionLink("首页", null, new { p = 1})</li>
            }
            <li class="p">@Html.ActionLink("上一页", null, new { p = pageNowIndex - 1})</li>
        }
        @if(pagesCount != 1)
        {
            for(int i = pageStartIndex; i <= pageEndIndex; i++)
            {
            <li class="i">
                @if(i == pageNowIndex)
                {
                    <strong>@i</strong>
                }
                else
                {
                    @Html.ActionLink(i.ToString(), null, new { p = i});
                }
            </li>
            }
        }
        @if(pagesCount > pageNowIndex)
        {
            <li class="n">@Html.ActionLink("下一页", null, new { p = pageNowIndex + 1 })</li>
            if(pagesCount > 9)
            {
            <li class="l">@Html.ActionLink("末页", null, new { p = pagesCount })</li>
            }
        }
    </ul>
</div>
<script type="text/javascript">
    var SelectedItemId = [];

    $('.u-tb tr').hover(
    function () {
        $(this).find('.td-act span').show(0);
    },
    function () {
        $(this).find('.td-act span').hide(0);
    });

    $('.u-act-ava').click(function (event) {
        event.stopPropagation();

        ChangeUsersStatus($(this).parents('tr').attr('itemid'), 1);
    });

    function userListLineClick(e) {
        event.stopPropagation();
        var itemChecker = $(e).find('.u-item-check');
        itemChecker.trigger('click');

        if (itemChecker.is(':checked')) {
            $(e).addClass('u-item-selected');
        } else {
            $(e).removeClass('u-item-selected');
        }
    }

    $('.u-item-check').click(function (event) {
        event.stopPropagation();
        if ($(this).is(':checked')) {
            $('.u-act').addClass('u-act-selected');
            $(this).parents('tr').addClass('u-item-selected');

            SelectedItemId = [];
            $('.u-item-check:checked').each(function () {
                SelectedItemId.push($(this).attr('itemid'));
            });
        } else {
            $(this).parents('tr').removeClass('u-item-selected');
            if ($('.u-item-check:checked').length == 0) {
                $('.u-act').removeClass('u-act-selected');
            }

            SelectedItemId = [];
            $('.u-item-check:checked').each(function () {
                SelectedItemId.push($(this).attr('itemid'));
            });
        }
       
    });

    $('.u-act-create').click(function () {
        window.location.href = "/user/register?returnUrl=" + window.location.pathname;
    });

    $('.u-act-edit').click(function () {
        if (SelectedItemId.length > 1) {
            alert('每次只能修改一条记录');
            return false;
        }
        window.location.href = "/user/ChangePassword?uid=" + SelectedItemId[0];
    });

    $('.u-act-del').click(function () {
        if (SelectedItemId.length == 0) {
            alert('请至少选择一项');
            return false;
        }

        ChangeUsersStatus(SelectedItemId, 0);
    });

    function ChangeUsersStatus(userIds, status) {
        if (!(toString.apply(userIds) === '[object Array]')) {
            userIds = [userIds];
        }

        $.post('/admin/ChangeUserStatus',
        { 'ids': JSON.stringify(userIds), 'status': status },
        function (result) {
            if (result.type == 1) {
                if (status == 0) {
                    $.each(userIds, function (i, item) {
                        var trItem = $('#u-item-' + item);
                        trItem.addClass('color-shadow').find('.u-item-check').trigger('click');
                        trItem.find('.u-act-ava').text('启用')
                    });
                } else {
                    $.each(userIds, function (i, item) {
                        var trItem = $('#u-item-' + item);
                        trItem.removeClass('color-shadow').find('.u-act-ava').text('')
                    });
                }
            }
        });
    }
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ba-throttle-debounce.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.stickyheader.js")"></script>
