<!DOCTYPE xhtml>
<html>
<head>
    <meta content="" charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/jqueryui") 
    <link href="@Url.Content("~/Content/css/fullcalendar.print.css")" media="print" rel='stylesheet' />
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/datepicker.zh-CN.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fullcalendar-zh-cn.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/chzn-chosen.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/editPanel.js")"></script>
    @{
        string userLevel = MeetingCanlendar.Models.MCAuthorizeAttribute.GetRole(User.Identity.Name);
    }
</head>
<body>
    <header>
        <div class="header">
            <div class="u_box">
                <div class="i">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("退出", "LogOut", "User", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "u_lgo" })
                        <span class="sp">|</span>
                        @Html.ActionLink(User.Identity.Name, "index", "user", null, new { @class = "u_name" })
                        if (userLevel == "9")
                        {
                            <span class="sp">|</span>
                            @Html.ActionLink("后台管理", "index", "admin", null, new { @target = "_blank" })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("登陆", "Login", "User", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "lgi_l" })
                        <span>|</span>
                        @Html.ActionLink("立即注册", "Register", "User", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "rg_l" })
                    }
                </div>
            </div>
        </div>
    </header>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
